<div class="converter">

    <h1>Конвертер Валют</h1>
    
    <div class="rates-tabel">
        <div class="rates-elem">
            <div class="rates-name">Курс {{r1[0]}}</div>
            <div class="rates-value">{{r1[1]}}</div>
        </div>
        
        <div class="rates-elem">
            <div class="rates-name">Курс {{r2[0]}}</div>
            <div class="rates-value">{{r2[1]}}</div>
        </div>
        
        <div class="rates-elem">
            <div class="rates-name">Курс {{previousRate[0]}}</div>
            <div class="rates-value">{{previousRate[1]}}</div>
        </div>

    </div>
    
    <form [formGroup]="myForm">
        <div class="converter-tabel">
            <div class="converter-buy">
                <h3>Покупка</h3>
    
                <div class="converter-tabel-elem">
                    <input type="number" class="converter-input" formControlName="input1" />
                </div>
    
                <div class="converter-tabel-elem">
                    <select #mySelect1 class="converter-select" formControlName="select1">
                        <option *ngFor="let item of rates" value={{item[1]}}>{{item[0]}}</option>
                    </select>
                </div>
                
            </div>
    
            <div class="converter-sell">
                <h3>Продажа</h3>
    
                <div class="converter-tabel-elem">
                    <input type="number" class="converter-input" formControlName="input2"/> 
                </div>
    
                <div class="converter-tabel-elem">
                    <select #mySelect2 class="converter-select" formControlName="select2">
                        <option *ngFor="let item of rates" value={{item[1]}}>{{item[0]}}</option>
                    </select>
                </div>
                
            </div>
        </div>
    </form>

</div>
